# Node
node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log*
*.bin
# build
dist/
build/

# environment
.env
.env.local
.env.*.local

# VS Code
.vscode/
./e10a8416-2c3a-4d0f-8b14-ba213822dc3b
# Mac
.DS_Store

# Editor swap files
*.swp

# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
env/

# Packages and build
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/

# Environment
.env

# VS Code
.vscode/